@using E_Commerce.Entities;
@model News
	<div class="col-lg-4 col-md-6">
		<div class="single-latest-news">
		<a asp-asp-controller="News" asp-action="Details" asp-route-id="@Model.Id"><div class="latest-news-bg news-bg-@Model.Id"></div></a>
			<div class="news-text-box">
			<h3><a asp-asp-controller="News" asp-action="Details" asp-route-id="@Model.Id">@Model.Header</a></h3>
				<p class="blog-meta">
					<span class="author"><i class="fas fa-user"></i> Admin</span>
					<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
				</p>
				<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
				<a asp-controller="News" asp-action="Details" asp-route-id="@Model.Id" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
			</div>
		</div>
	</div>
